<div class="container mt-5">
    <h2>BORANG PERMOHONAN STOK (INDIVIDU KEPADA STOR)</h2>
    <div class="row mt-5">
        <div class="col-lg-4">
            <div class="card">
                <h2 class="card-header">Permohonan dari {{currentClient}}</h2>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <label>Biohazard beg</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Gel Tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>EDTA Tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Gluc Tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Coag Tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>urine container</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Paeds Gel</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Paeds FBC</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Paeds EDTA</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Stool Container</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Swab - Amies gel</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Swab - Carry Blair</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>ESR Tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>24h urine container (BOX)</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>C&S Aerobic</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>C&S Anaerobic</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>C&S Peads</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>C&S Fungal</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Lithium Heparin Tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>G6PD Paper</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Blood Spot Paper</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Foam Box</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Parafilm</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Bijoue bottle</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Glass slides</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Microscope Slide</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Plain tube with red stopper</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Sodium Heparin tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod class="form-control" type="number"><br>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- <div class="col">
            <div class="card">
                <h2 class="card-header">Items</h2>
                <div class="card-body">
                    questions
                </div>
            </div>
        </div> -->
    </div>
    <div class="row mb-5">
        <div class="col-12">
            <button (click)="addItem(kod.value)" class="btn btn-primary mt-3">Hantar</button>
        </div>
    </div>
</div>