<!-- <div>
    <button (click)="check()" class="btn btn-primary">Check</button>
    <button (click)="checkTrue()" class="btn btn-danger">Make it true</button>
    <button (click)="checkFalse()" class="btn btn-danger">Make it false</button>
</div> -->
<div [hidden]="!showLogOut" class="container mt-3">
    <button (click)="logout()" class="btn btn-danger btn-block">
        LogOut
    </button>
</div>

<div [hidden]="!showTitleMessage" class="container mt-5">
    <h1>{{entryStatus}}</h1>
</div>

<div [hidden]="!showSendingMessage" class="container mt-5">
    <h1>Sending data to server, please dont close this tab...</h1>
</div>

<div [hidden]="!showSuccessMessage" class="container mt-5">
    <h1>Data is sent successfully!</h1>
    <button class="btn btn-info btn-block" (click)="login()">Login</button>
</div>
<div [hidden]="!showEmptyForm" class="container mt-5">
    <h2>{{currentClient}}</h2>
    
    <div class="wrap">
        <canvas class="d-flex align-items-center" #canvas width="1339" height="948"></canvas>
        <!-- <p id="tajuk">Jumlah dipohon:</p> -->
        <input type="number" id="q1" [(ngModel)]="qn1"/>
        <input type="number" id="q2" [(ngModel)]="qn2"/>
        <input type="number" id="q3" [(ngModel)]="qn3"/>
        <input type="number" id="q4" [(ngModel)]="qn4"/>
        <input type="number" id="q5" [(ngModel)]="qn5"/>
        <input type="number" id="q6" [(ngModel)]="qn6"/>
        <input type="number" id="q7" [(ngModel)]="qn7"/>
        <input type="number" id="q8" [(ngModel)]="qn8"/>
        <input type="number" id="q9" [(ngModel)]="qn9"/>
        <input type="number" id="q10" [(ngModel)]="qn10"/>
        <input type="number" id="q11" [(ngModel)]="qn11"/>
        <input type="number" id="q12" [(ngModel)]="qn12"/>

        <input type="number" id="b1" [(ngModel)]="bn1"/>
        <input type="number" id="b2" [(ngModel)]="bn2"/>
        <input type="number" id="b3" [(ngModel)]="bn3"/>
        <input type="number" id="b4" [(ngModel)]="bn4"/>
        <input type="number" id="b5" [(ngModel)]="bn5"/>
        <input type="number" id="b6" [(ngModel)]="bn6"/>
        <input type="number" id="b7" [(ngModel)]="bn7"/>
        <input type="number" id="b8" [(ngModel)]="bn8"/>
        <input type="number" id="b9" [(ngModel)]="bn9"/>
        <input type="number" id="b10" [(ngModel)]="bn10"/>
        <input type="number" id="b11" [(ngModel)]="bn11"/>
        <input type="number" id="b12" [(ngModel)]="bn12"/>

        <button (click)="sendDataButton()" class="btn btn-primary" id="button1">Send</button>
        <!-- <button (click)="retrieveBox()" class="btn btn-primary" id="b2">Retrieve</button> -->

        <select [(ngModel)]="selectedValue1" (change)="onChange1($event.target)" name="cars" id="c1">
            <option value=""></option>
            <option value="Biohazard_bag">Biohazard bag</option>
            <option value="Gel_Tube">Gel Tube</option>
            <option value="EDTA_Tube">EDTA Tube</option>
            <option value="Gluc_Tube">Gluc Tube</option>
            <option value="Coag_Tube">Coag Tube</option>
            <option value="urine_container">urine container</option>
            <option value="Paeds_Gel">Paeds Gel</option>
            <option value="Paeds_FBC">Paeds FBC</option>
            <option value="Paeds_EDTA">Paeds EDTA</option>
            <option value="Stool_Container">Stool Container</option>
            <option value="Swab_Amies_gel">Swab - Amies gel</option>
            <option value="Swab_Carry_Blair">Swab - Carry Blair</option>
            <option value="ESR_Tube">ESR Tube</option>
            <option value="24h_urine_container_(BOX)">24h urine container (BOX)</option>
            <option value="C&S_Aerobic">C&S Aerobic</option>
            <option value="C&S_Anaerobic">C&S Anaerobic</option>
            <option value="C&S_Peads">C&S Peads</option>
            <option value="C&S_Fungal">C&S Fungal</option>
            <option value="Lithium_Heparin_Tube">Lithium Heparin Tube</option>
            <option value="G6PD_Paper">G6PD Paper</option>
            <option value="Blood_Spot_Paper">Blood Spot Paper</option>
            <option value="Foam_Box">Foam Box</option>
            <option value="Parafilm">Parafilm</option>
            <option value="Bijoue_bottle">Bijoue bottle</option>
            <option value="Glass_slides">Glass slides</option>
            <option value="Microscope_Slide">Microscope Slide</option>
            <option value="Plain_tube_with_red_stopper">Plain tube with red stopper</option>
            <option value="Sodium_Heparin_tube">Sodium Heparin tube</option>
        </select>

        <select [(ngModel)]="selectedValue2" (change)="onChange2($event.target)" name="choice2" id="c2">
            <option value=""></option>
            <option value="Biohazard_bag">Biohazard bag</option>
            <option value="Gel_Tube">Gel Tube</option>
            <option value="EDTA_Tube">EDTA Tube</option>
            <option value="Gluc_Tube">Gluc Tube</option>
            <option value="Coag_Tube">Coag Tube</option>
            <option value="urine_container">urine container</option>
            <option value="Paeds_Gel">Paeds Gel</option>
            <option value="Paeds_FBC">Paeds FBC</option>
            <option value="Paeds_EDTA">Paeds EDTA</option>
            <option value="Stool_Container">Stool Container</option>
            <option value="Swab_Amies_gel">Swab - Amies gel</option>
            <option value="Swab_Carry_Blair">Swab - Carry Blair</option>
            <option value="ESR_Tube">ESR Tube</option>
            <option value="24h_urine_container_(BOX)">24h urine container (BOX)</option>
            <option value="C&S_Aerobic">C&S Aerobic</option>
            <option value="C&S_Anaerobic">C&S Anaerobic</option>
            <option value="C&S_Peads">C&S Peads</option>
            <option value="C&S_Fungal">C&S Fungal</option>
            <option value="Lithium_Heparin_Tube">Lithium Heparin Tube</option>
            <option value="G6PD_Paper">G6PD Paper</option>
            <option value="Blood_Spot_Paper">Blood Spot Paper</option>
            <option value="Foam_Box">Foam Box</option>
            <option value="Parafilm">Parafilm</option>
            <option value="Bijoue_bottle">Bijoue bottle</option>
            <option value="Glass_slides">Glass slides</option>
            <option value="Microscope_Slide">Microscope Slide</option>
            <option value="Plain_tube_with_red_stopper">Plain tube with red stopper</option>
            <option value="Sodium_Heparin_tube">Sodium Heparin tube</option>
        </select>

        <select [(ngModel)]="selectedValue3" (change)="onChange3($event.target)" name="choice2" id="c3">
            <option value=""></option>
            <option value="Biohazard_bag">Biohazard bag</option>
            <option value="Gel_Tube">Gel Tube</option>
            <option value="EDTA_Tube">EDTA Tube</option>
            <option value="Gluc_Tube">Gluc Tube</option>
            <option value="Coag_Tube">Coag Tube</option>
            <option value="urine_container">urine container</option>
            <option value="Paeds_Gel">Paeds Gel</option>
            <option value="Paeds_FBC">Paeds FBC</option>
            <option value="Paeds_EDTA">Paeds EDTA</option>
            <option value="Stool_Container">Stool Container</option>
            <option value="Swab_Amies_gel">Swab - Amies gel</option>
            <option value="Swab_Carry_Blair">Swab - Carry Blair</option>
            <option value="ESR_Tube">ESR Tube</option>
            <option value="24h_urine_container_(BOX)">24h urine container (BOX)</option>
            <option value="C&S_Aerobic">C&S Aerobic</option>
            <option value="C&S_Anaerobic">C&S Anaerobic</option>
            <option value="C&S_Peads">C&S Peads</option>
            <option value="C&S_Fungal">C&S Fungal</option>
            <option value="Lithium_Heparin_Tube">Lithium Heparin Tube</option>
            <option value="G6PD_Paper">G6PD Paper</option>
            <option value="Blood_Spot_Paper">Blood Spot Paper</option>
            <option value="Foam_Box">Foam Box</option>
            <option value="Parafilm">Parafilm</option>
            <option value="Bijoue_bottle">Bijoue bottle</option>
            <option value="Glass_slides">Glass slides</option>
            <option value="Microscope_Slide">Microscope Slide</option>
            <option value="Plain_tube_with_red_stopper">Plain tube with red stopper</option>
            <option value="Sodium_Heparin_tube">Sodium Heparin tube</option>
        </select>

        <select [(ngModel)]="selectedValue4" (change)="onChange4($event.target)" name="choice2" id="c4">
            <option value=""></option>
            <option value="Biohazard_bag">Biohazard bag</option>
            <option value="Gel_Tube">Gel Tube</option>
            <option value="EDTA_Tube">EDTA Tube</option>
            <option value="Gluc_Tube">Gluc Tube</option>
            <option value="Coag_Tube">Coag Tube</option>
            <option value="urine_container">urine container</option>
            <option value="Paeds_Gel">Paeds Gel</option>
            <option value="Paeds_FBC">Paeds FBC</option>
            <option value="Paeds_EDTA">Paeds EDTA</option>
            <option value="Stool_Container">Stool Container</option>
            <option value="Swab_Amies_gel">Swab - Amies gel</option>
            <option value="Swab_Carry_Blair">Swab - Carry Blair</option>
            <option value="ESR_Tube">ESR Tube</option>
            <option value="24h_urine_container_(BOX)">24h urine container (BOX)</option>
            <option value="C&S_Aerobic">C&S Aerobic</option>
            <option value="C&S_Anaerobic">C&S Anaerobic</option>
            <option value="C&S_Peads">C&S Peads</option>
            <option value="C&S_Fungal">C&S Fungal</option>
            <option value="Lithium_Heparin_Tube">Lithium Heparin Tube</option>
            <option value="G6PD_Paper">G6PD Paper</option>
            <option value="Blood_Spot_Paper">Blood Spot Paper</option>
            <option value="Foam_Box">Foam Box</option>
            <option value="Parafilm">Parafilm</option>
            <option value="Bijoue_bottle">Bijoue bottle</option>
            <option value="Glass_slides">Glass slides</option>
            <option value="Microscope_Slide">Microscope Slide</option>
            <option value="Plain_tube_with_red_stopper">Plain tube with red stopper</option>
            <option value="Sodium_Heparin_tube">Sodium Heparin tube</option>
        </select>

        <select [(ngModel)]="selectedValue5" (change)="onChange5($event.target)" name="choice2" id="c5">
            <option value=""></option>
            <option value="Biohazard_bag">Biohazard bag</option>
            <option value="Gel_Tube">Gel Tube</option>
            <option value="EDTA_Tube">EDTA Tube</option>
            <option value="Gluc_Tube">Gluc Tube</option>
            <option value="Coag_Tube">Coag Tube</option>
            <option value="urine_container">urine container</option>
            <option value="Paeds_Gel">Paeds Gel</option>
            <option value="Paeds_FBC">Paeds FBC</option>
            <option value="Paeds_EDTA">Paeds EDTA</option>
            <option value="Stool_Container">Stool Container</option>
            <option value="Swab_Amies_gel">Swab - Amies gel</option>
            <option value="Swab_Carry_Blair">Swab - Carry Blair</option>
            <option value="ESR_Tube">ESR Tube</option>
            <option value="24h_urine_container_(BOX)">24h urine container (BOX)</option>
            <option value="C&S_Aerobic">C&S Aerobic</option>
            <option value="C&S_Anaerobic">C&S Anaerobic</option>
            <option value="C&S_Peads">C&S Peads</option>
            <option value="C&S_Fungal">C&S Fungal</option>
            <option value="Lithium_Heparin_Tube">Lithium Heparin Tube</option>
            <option value="G6PD_Paper">G6PD Paper</option>
            <option value="Blood_Spot_Paper">Blood Spot Paper</option>
            <option value="Foam_Box">Foam Box</option>
            <option value="Parafilm">Parafilm</option>
            <option value="Bijoue_bottle">Bijoue bottle</option>
            <option value="Glass_slides">Glass slides</option>
            <option value="Microscope_Slide">Microscope Slide</option>
            <option value="Plain_tube_with_red_stopper">Plain tube with red stopper</option>
            <option value="Sodium_Heparin_tube">Sodium Heparin tube</option>
        </select>

        <select [(ngModel)]="selectedValue6" (change)="onChange6($event.target)" name="choice2" id="c6">
            <option value=""></option>
            <option value="Biohazard_bag">Biohazard bag</option>
            <option value="Gel_Tube">Gel Tube</option>
            <option value="EDTA_Tube">EDTA Tube</option>
            <option value="Gluc_Tube">Gluc Tube</option>
            <option value="Coag_Tube">Coag Tube</option>
            <option value="urine_container">urine container</option>
            <option value="Paeds_Gel">Paeds Gel</option>
            <option value="Paeds_FBC">Paeds FBC</option>
            <option value="Paeds_EDTA">Paeds EDTA</option>
            <option value="Stool_Container">Stool Container</option>
            <option value="Swab_Amies_gel">Swab - Amies gel</option>
            <option value="Swab_Carry_Blair">Swab - Carry Blair</option>
            <option value="ESR_Tube">ESR Tube</option>
            <option value="24h_urine_container_(BOX)">24h urine container (BOX)</option>
            <option value="C&S_Aerobic">C&S Aerobic</option>
            <option value="C&S_Anaerobic">C&S Anaerobic</option>
            <option value="C&S_Peads">C&S Peads</option>
            <option value="C&S_Fungal">C&S Fungal</option>
            <option value="Lithium_Heparin_Tube">Lithium Heparin Tube</option>
            <option value="G6PD_Paper">G6PD Paper</option>
            <option value="Blood_Spot_Paper">Blood Spot Paper</option>
            <option value="Foam_Box">Foam Box</option>
            <option value="Parafilm">Parafilm</option>
            <option value="Bijoue_bottle">Bijoue bottle</option>
            <option value="Glass_slides">Glass slides</option>
            <option value="Microscope_Slide">Microscope Slide</option>
            <option value="Plain_tube_with_red_stopper">Plain tube with red stopper</option>
            <option value="Sodium_Heparin_tube">Sodium Heparin tube</option>
        </select>

        <select [(ngModel)]="selectedValue7" (change)="onChange7($event.target)" name="choice2" id="c7">
            <option value=""></option>
            <option value="Biohazard_bag">Biohazard bag</option>
            <option value="Gel_Tube">Gel Tube</option>
            <option value="EDTA_Tube">EDTA Tube</option>
            <option value="Gluc_Tube">Gluc Tube</option>
            <option value="Coag_Tube">Coag Tube</option>
            <option value="urine_container">urine container</option>
            <option value="Paeds_Gel">Paeds Gel</option>
            <option value="Paeds_FBC">Paeds FBC</option>
            <option value="Paeds_EDTA">Paeds EDTA</option>
            <option value="Stool_Container">Stool Container</option>
            <option value="Swab_Amies_gel">Swab - Amies gel</option>
            <option value="Swab_Carry_Blair">Swab - Carry Blair</option>
            <option value="ESR_Tube">ESR Tube</option>
            <option value="24h_urine_container_(BOX)">24h urine container (BOX)</option>
            <option value="C&S_Aerobic">C&S Aerobic</option>
            <option value="C&S_Anaerobic">C&S Anaerobic</option>
            <option value="C&S_Peads">C&S Peads</option>
            <option value="C&S_Fungal">C&S Fungal</option>
            <option value="Lithium_Heparin_Tube">Lithium Heparin Tube</option>
            <option value="G6PD_Paper">G6PD Paper</option>
            <option value="Blood_Spot_Paper">Blood Spot Paper</option>
            <option value="Foam_Box">Foam Box</option>
            <option value="Parafilm">Parafilm</option>
            <option value="Bijoue_bottle">Bijoue bottle</option>
            <option value="Glass_slides">Glass slides</option>
            <option value="Microscope_Slide">Microscope Slide</option>
            <option value="Plain_tube_with_red_stopper">Plain tube with red stopper</option>
            <option value="Sodium_Heparin_tube">Sodium Heparin tube</option>
        </select>

        <select [(ngModel)]="selectedValue8" (change)="onChange8($event.target)" name="choice2" id="c8">
            <option value=""></option>
            <option value="Biohazard_bag">Biohazard bag</option>
            <option value="Gel_Tube">Gel Tube</option>
            <option value="EDTA_Tube">EDTA Tube</option>
            <option value="Gluc_Tube">Gluc Tube</option>
            <option value="Coag_Tube">Coag Tube</option>
            <option value="urine_container">urine container</option>
            <option value="Paeds_Gel">Paeds Gel</option>
            <option value="Paeds_FBC">Paeds FBC</option>
            <option value="Paeds_EDTA">Paeds EDTA</option>
            <option value="Stool_Container">Stool Container</option>
            <option value="Swab_Amies_gel">Swab - Amies gel</option>
            <option value="Swab_Carry_Blair">Swab - Carry Blair</option>
            <option value="ESR_Tube">ESR Tube</option>
            <option value="24h_urine_container_(BOX)">24h urine container (BOX)</option>
            <option value="C&S_Aerobic">C&S Aerobic</option>
            <option value="C&S_Anaerobic">C&S Anaerobic</option>
            <option value="C&S_Peads">C&S Peads</option>
            <option value="C&S_Fungal">C&S Fungal</option>
            <option value="Lithium_Heparin_Tube">Lithium Heparin Tube</option>
            <option value="G6PD_Paper">G6PD Paper</option>
            <option value="Blood_Spot_Paper">Blood Spot Paper</option>
            <option value="Foam_Box">Foam Box</option>
            <option value="Parafilm">Parafilm</option>
            <option value="Bijoue_bottle">Bijoue bottle</option>
            <option value="Glass_slides">Glass slides</option>
            <option value="Microscope_Slide">Microscope Slide</option>
            <option value="Plain_tube_with_red_stopper">Plain tube with red stopper</option>
            <option value="Sodium_Heparin_tube">Sodium Heparin tube</option>
        </select>

        <select [(ngModel)]="selectedValue9" (change)="onChange9($event.target)" name="choice2" id="c9">
            <option value=""></option>
            <option value="Biohazard_bag">Biohazard bag</option>
            <option value="Gel_Tube">Gel Tube</option>
            <option value="EDTA_Tube">EDTA Tube</option>
            <option value="Gluc_Tube">Gluc Tube</option>
            <option value="Coag_Tube">Coag Tube</option>
            <option value="urine_container">urine container</option>
            <option value="Paeds_Gel">Paeds Gel</option>
            <option value="Paeds_FBC">Paeds FBC</option>
            <option value="Paeds_EDTA">Paeds EDTA</option>
            <option value="Stool_Container">Stool Container</option>
            <option value="Swab_Amies_gel">Swab - Amies gel</option>
            <option value="Swab_Carry_Blair">Swab - Carry Blair</option>
            <option value="ESR_Tube">ESR Tube</option>
            <option value="24h_urine_container_(BOX)">24h urine container (BOX)</option>
            <option value="C&S_Aerobic">C&S Aerobic</option>
            <option value="C&S_Anaerobic">C&S Anaerobic</option>
            <option value="C&S_Peads">C&S Peads</option>
            <option value="C&S_Fungal">C&S Fungal</option>
            <option value="Lithium_Heparin_Tube">Lithium Heparin Tube</option>
            <option value="G6PD_Paper">G6PD Paper</option>
            <option value="Blood_Spot_Paper">Blood Spot Paper</option>
            <option value="Foam_Box">Foam Box</option>
            <option value="Parafilm">Parafilm</option>
            <option value="Bijoue_bottle">Bijoue bottle</option>
            <option value="Glass_slides">Glass slides</option>
            <option value="Microscope_Slide">Microscope Slide</option>
            <option value="Plain_tube_with_red_stopper">Plain tube with red stopper</option>
            <option value="Sodium_Heparin_tube">Sodium Heparin tube</option>
        </select>

        <select [(ngModel)]="selectedValue10" (change)="onChange10($event.target)" name="choice2" id="c10">
            <option value=""></option>
            <option value="Biohazard_bag">Biohazard bag</option>
            <option value="Gel_Tube">Gel Tube</option>
            <option value="EDTA_Tube">EDTA Tube</option>
            <option value="Gluc_Tube">Gluc Tube</option>
            <option value="Coag_Tube">Coag Tube</option>
            <option value="urine_container">urine container</option>
            <option value="Paeds_Gel">Paeds Gel</option>
            <option value="Paeds_FBC">Paeds FBC</option>
            <option value="Paeds_EDTA">Paeds EDTA</option>
            <option value="Stool_Container">Stool Container</option>
            <option value="Swab_Amies_gel">Swab - Amies gel</option>
            <option value="Swab_Carry_Blair">Swab - Carry Blair</option>
            <option value="ESR_Tube">ESR Tube</option>
            <option value="24h_urine_container_(BOX)">24h urine container (BOX)</option>
            <option value="C&S_Aerobic">C&S Aerobic</option>
            <option value="C&S_Anaerobic">C&S Anaerobic</option>
            <option value="C&S_Peads">C&S Peads</option>
            <option value="C&S_Fungal">C&S Fungal</option>
            <option value="Lithium_Heparin_Tube">Lithium Heparin Tube</option>
            <option value="G6PD_Paper">G6PD Paper</option>
            <option value="Blood_Spot_Paper">Blood Spot Paper</option>
            <option value="Foam_Box">Foam Box</option>
            <option value="Parafilm">Parafilm</option>
            <option value="Bijoue_bottle">Bijoue bottle</option>
            <option value="Glass_slides">Glass slides</option>
            <option value="Microscope_Slide">Microscope Slide</option>
            <option value="Plain_tube_with_red_stopper">Plain tube with red stopper</option>
            <option value="Sodium_Heparin_tube">Sodium Heparin tube</option>
        </select>

        <select [(ngModel)]="selectedValue11" (change)="onChange11($event.target)" name="choice2" id="c11">
            <option value=""></option>
            <option value="Biohazard_bag">Biohazard bag</option>
            <option value="Gel_Tube">Gel Tube</option>
            <option value="EDTA_Tube">EDTA Tube</option>
            <option value="Gluc_Tube">Gluc Tube</option>
            <option value="Coag_Tube">Coag Tube</option>
            <option value="urine_container">urine container</option>
            <option value="Paeds_Gel">Paeds Gel</option>
            <option value="Paeds_FBC">Paeds FBC</option>
            <option value="Paeds_EDTA">Paeds EDTA</option>
            <option value="Stool_Container">Stool Container</option>
            <option value="Swab_Amies_gel">Swab - Amies gel</option>
            <option value="Swab_Carry_Blair">Swab - Carry Blair</option>
            <option value="ESR_Tube">ESR Tube</option>
            <option value="24h_urine_container_(BOX)">24h urine container (BOX)</option>
            <option value="C&S_Aerobic">C&S Aerobic</option>
            <option value="C&S_Anaerobic">C&S Anaerobic</option>
            <option value="C&S_Peads">C&S Peads</option>
            <option value="C&S_Fungal">C&S Fungal</option>
            <option value="Lithium_Heparin_Tube">Lithium Heparin Tube</option>
            <option value="G6PD_Paper">G6PD Paper</option>
            <option value="Blood_Spot_Paper">Blood Spot Paper</option>
            <option value="Foam_Box">Foam Box</option>
            <option value="Parafilm">Parafilm</option>
            <option value="Bijoue_bottle">Bijoue bottle</option>
            <option value="Glass_slides">Glass slides</option>
            <option value="Microscope_Slide">Microscope Slide</option>
            <option value="Plain_tube_with_red_stopper">Plain tube with red stopper</option>
            <option value="Sodium_Heparin_tube">Sodium Heparin tube</option>
        </select>

        <select [(ngModel)]="selectedValue12" (change)="onChange12($event.target)" name="choice2" id="c12">
            <option value=""></option>
            <option value="Biohazard_bag">Biohazard bag</option>
            <option value="Gel_Tube">Gel Tube</option>
            <option value="EDTA_Tube">EDTA Tube</option>
            <option value="Gluc_Tube">Gluc Tube</option>
            <option value="Coag_Tube">Coag Tube</option>
            <option value="urine_container">urine container</option>
            <option value="Paeds_Gel">Paeds Gel</option>
            <option value="Paeds_FBC">Paeds FBC</option>
            <option value="Paeds_EDTA">Paeds EDTA</option>
            <option value="Stool_Container">Stool Container</option>
            <option value="Swab_Amies_gel">Swab - Amies gel</option>
            <option value="Swab_Carry_Blair">Swab - Carry Blair</option>
            <option value="ESR_Tube">ESR Tube</option>
            <option value="24h_urine_container_(BOX)">24h urine container (BOX)</option>
            <option value="C&S_Aerobic">C&S Aerobic</option>
            <option value="C&S_Anaerobic">C&S Anaerobic</option>
            <option value="C&S_Peads">C&S Peads</option>
            <option value="C&S_Fungal">C&S Fungal</option>
            <option value="Lithium_Heparin_Tube">Lithium Heparin Tube</option>
            <option value="G6PD_Paper">G6PD Paper</option>
            <option value="Blood_Spot_Paper">Blood Spot Paper</option>
            <option value="Foam_Box">Foam Box</option>
            <option value="Parafilm">Parafilm</option>
            <option value="Bijoue_bottle">Bijoue bottle</option>
            <option value="Glass_slides">Glass slides</option>
            <option value="Microscope_Slide">Microscope Slide</option>
            <option value="Plain_tube_with_red_stopper">Plain tube with red stopper</option>
            <option value="Sodium_Heparin_tube">Sodium Heparin tube</option>
        </select>
    </div>
    
</div>
<div [hidden]="!showStockTable" class="container">
    <h2>{{currentClient}}</h2>
    <h5 >Requested Stock</h5>
    <h5 >Status: {{statusHTML}}</h5>
    <button class="btn btn-success" (click)="printCanvas()">Download</button>
    <div class="wrap">
        <canvas class="d-flex align-items-center" #canvas2 width="1339" height="948"></canvas>
    </div>
    
    <!-- <table class="table">
        <thead>
            <tr class="w-auto">
                <th>No.</th>
                <th>Items</th>
                <th>count</th>
            </tr>
        </thead>
        <tbody>
            <tr class="w-auto" *ngFor="let data of currentRecord; let i = index">
                <td>{{i + 1}}</td>
                <td>{{data.items}}</td>
                <td>{{data.value}}</td>
            </tr>
        </tbody>
    </table> -->
    
</div>
<!-- <div [hidden]="checkServer" class="container mt-5">
    <h2>BORANG PERMOHONAN STOK (INDIVIDU KEPADA STOR)</h2>
    <div class="row mt-5">
        <div class="col-lg-4">
            <div class="card">
                <h2 class="card-header">Permohonan dari {{currentClient}}</h2>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <label>Biohazard beg</label>
                        </div>
                        <div class="col-4">
                            <input #kod1 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Gel Tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod2 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>EDTA Tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod3 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Gluc Tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod4 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Coag Tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod5 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>urine container</label>
                        </div>
                        <div class="col-4">
                            <input #kod6 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Paeds Gel</label>
                        </div>
                        <div class="col-4">
                            <input #kod7 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Paeds FBC</label>
                        </div>
                        <div class="col-4">
                            <input #kod8 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Paeds EDTA</label>
                        </div>
                        <div class="col-4">
                            <input #kod9 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Stool Container</label>
                        </div>
                        <div class="col-4">
                            <input #kod10 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Swab - Amies gel</label>
                        </div>
                        <div class="col-4">
                            <input #kod11 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Swab - Carry Blair</label>
                        </div>
                        <div class="col-4">
                            <input #kod12 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>ESR Tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod13 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>24h urine container (BOX)</label>
                        </div>
                        <div class="col-4">
                            <input #kod14 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>C&S Aerobic</label>
                        </div>
                        <div class="col-4">
                            <input #kod15 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>C&S Anaerobic</label>
                        </div>
                        <div class="col-4">
                            <input #kod16 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>C&S Peads</label>
                        </div>
                        <div class="col-4">
                            <input #kod17 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>C&S Fungal</label>
                        </div>
                        <div class="col-4">
                            <input #kod18 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Lithium Heparin Tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod19 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>G6PD Paper</label>
                        </div>
                        <div class="col-4">
                            <input #kod20 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Blood Spot Paper</label>
                        </div>
                        <div class="col-4">
                            <input #kod21 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Foam Box</label>
                        </div>
                        <div class="col-4">
                            <input #kod22 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Parafilm</label>
                        </div>
                        <div class="col-4">
                            <input #kod23 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Bijoue bottle</label>
                        </div>
                        <div class="col-4">
                            <input #kod24 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Glass slides</label>
                        </div>
                        <div class="col-4">
                            <input #kod25 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Microscope Slide</label>
                        </div>
                        <div class="col-4">
                            <input #kod26 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Plain tube with red stopper</label>
                        </div>
                        <div class="col-4">
                            <input #kod27 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Sodium Heparin tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod28 class="form-control" type="number"><br>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row mb-5">
        <div class="col-12">
            <button (click)="addItem(kod1.value, kod2.value, kod3.value, kod4.value, kod5.value, kod6.value, kod7.value, kod8.value, kod9.value, kod10.value, kod11.value, kod12.value, kod13.value, kod14.value, kod15.value, kod16.value, kod17.value, kod18.value, kod19.value, kod20.value, kod21.value, kod22.value, kod23.value, kod24.value, kod25.value, kod26.value, kod27.value, kod28.value)" class="btn btn-primary mt-3">Hantar</button>
        </div>
        <div>
            {{serverReply}}
        </div>
    </div>
</div> -->