<!-- <div>
    <button (click)="check()" class="btn btn-primary">Check</button>
    <button (click)="checkTrue()" class="btn btn-danger">Make it true</button>
    <button (click)="checkFalse()" class="btn btn-danger">Make it false</button>
</div> -->
<div [hidden]="!checkServer" class="container mt-5">
    <h1>{{entryStatus}}</h1>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>Items</th>
                <th>count</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of currentRecord; let i = index">
                <td>{{i + 1}}</td>
                <td>{{data.items}}</td>
                <td>{{data.value}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div [hidden]="checkServer" class="container mt-5">
    <h2>BORANG PERMOHONAN STOK (INDIVIDU KEPADA STOR)</h2>
    <div class="row mt-5">
        <div class="col-lg-4">
            <div class="card">
                <h2 class="card-header">Permohonan dari {{currentClient}}</h2>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <label>Biohazard beg</label>
                        </div>
                        <div class="col-4">
                            <input #kod1 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Gel Tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod2 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>EDTA Tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod3 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Gluc Tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod4 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Coag Tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod5 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>urine container</label>
                        </div>
                        <div class="col-4">
                            <input #kod6 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Paeds Gel</label>
                        </div>
                        <div class="col-4">
                            <input #kod7 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Paeds FBC</label>
                        </div>
                        <div class="col-4">
                            <input #kod8 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Paeds EDTA</label>
                        </div>
                        <div class="col-4">
                            <input #kod9 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Stool Container</label>
                        </div>
                        <div class="col-4">
                            <input #kod10 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Swab - Amies gel</label>
                        </div>
                        <div class="col-4">
                            <input #kod11 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Swab - Carry Blair</label>
                        </div>
                        <div class="col-4">
                            <input #kod12 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>ESR Tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod13 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>24h urine container (BOX)</label>
                        </div>
                        <div class="col-4">
                            <input #kod14 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>C&S Aerobic</label>
                        </div>
                        <div class="col-4">
                            <input #kod15 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>C&S Anaerobic</label>
                        </div>
                        <div class="col-4">
                            <input #kod16 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>C&S Peads</label>
                        </div>
                        <div class="col-4">
                            <input #kod17 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>C&S Fungal</label>
                        </div>
                        <div class="col-4">
                            <input #kod18 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Lithium Heparin Tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod19 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>G6PD Paper</label>
                        </div>
                        <div class="col-4">
                            <input #kod20 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Blood Spot Paper</label>
                        </div>
                        <div class="col-4">
                            <input #kod21 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Foam Box</label>
                        </div>
                        <div class="col-4">
                            <input #kod22 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Parafilm</label>
                        </div>
                        <div class="col-4">
                            <input #kod23 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Bijoue bottle</label>
                        </div>
                        <div class="col-4">
                            <input #kod24 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Glass slides</label>
                        </div>
                        <div class="col-4">
                            <input #kod25 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Microscope Slide</label>
                        </div>
                        <div class="col-4">
                            <input #kod26 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Plain tube with red stopper</label>
                        </div>
                        <div class="col-4">
                            <input #kod27 class="form-control" type="number"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Sodium Heparin tube</label>
                        </div>
                        <div class="col-4">
                            <input #kod28 class="form-control" type="number"><br>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- <div class="col">
            <div class="card">
                <h2 class="card-header">Items</h2>
                <div class="card-body">
                    questions
                </div>
            </div>
        </div> -->
    </div>
    <div class="row mb-5">
        <div class="col-12">
            <button (click)="addItem(kod1.value, kod2.value, kod3.value, kod4.value, kod5.value, kod6.value, kod7.value, kod8.value, kod9.value, kod10.value, kod11.value, kod12.value, kod13.value, kod14.value, kod15.value, kod16.value, kod17.value, kod18.value, kod19.value, kod20.value, kod21.value, kod22.value, kod23.value, kod24.value, kod25.value, kod26.value, kod27.value, kod28.value)" class="btn btn-primary mt-3">Hantar</button>
        </div>
        <div>
            {{serverReply}}
        </div>
    </div>
</div>